{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }} dans la categorie {{ article.category.title }}</div>
        <div class="content"><img src="{{ article.image }}" alt="">
            <p>{{ article.content | raw }}</p>
        </div>
    </article>
    <section id="commentaires">
        <h3>{{ article.comments | length }} commentaires :</h3>
        {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content |raw }}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    {% if app.user %}
    <section id="add-comments">
        <div class="row">
            <a href="{{ path('article_comment', {'id' :article.id}) }}" class="btn btn-warning">Commenter l'article</a>
        </div>
    </section>
    {% else %}
    <h4>Connectez-vous pour pouvoir commenter</h4>
    <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
    {% endif %}

{% endblock %}